h1 {
  font-family: century-gothic, sans-serif;
  color: #E1F3FF;
  font-style: bold;
  font-size: 30px;
  text-align: center;
}

h2 {
  font-family: century-gothic, sans-serif;
  color: black;
  font-style: bold;
  font-size: 15px;
  text-align: center;
}

p {
font-family: century-gothic, sans-serif;
font-style: normal;
font-weight: 400;
color: black;
font-size: 15px;
text-align: left;
line-height: 1.7;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.shaka1 {
  display: block;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 0;
  width: 30%;
}

.shaka2 {
  display: block;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  width: 30%;
}

.wordmark-table {
  margin-left: 40px;
  margin-right: 40px;
  padding: 0px;
}

.collapsible {
  background-color: #A72E5B;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  height: 150px;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.collapsible2 {
  background-color: #F18526;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  height: 150px;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.collapsible3 {
  background-color: #9ACA42;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  height: 150px;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.collapsible4 {
  background-color: #EDC80F;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  height: 150px;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #E1F3FF;
  position: absolute;
  top: 520px;
  left: 40px;
  right: 40px;
}

.grid {
  background-color: #E1F3FF;
}


.grid section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  width: 70%;
  margin: auto;
}

.table {
  background-color: #E1F3FF;
  table-layout: auto;
  margin-left: 300px;
  margin-right: 300px;

}

th {
  margin-bottom: 0;
  padding: 20px;
}

.feature {
  width: 400px;
}

img {
  width: 300px;
}
