h1 {
  font-family: century-gothic, sans-serif;
  color: #E1F3FF;
  font-style: bold;
  font-size: 30px;
  text-align: center;
}

h2 {
  font-family: century-gothic, sans-serif;
  color: black;
  font-style: bold;
  font-size: 15px;
  text-align: center;
}

p {
font-family: century-gothic, sans-serif;
font-style: normal;
font-weight: 400;
color: black;
font-size: 15px;
text-align: left;
line-height: 1.7;
max-width: 800px;
margin: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.shaka1 {
  display: block;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 0;
  width: 30%;
}

.shaka2 {
  display: block;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  width: 30%;
}

.wordmark-table {
  margin-left: 40px;
  margin-right: 40px;
  padding: 0px;
}

.collapsible {
  background-color: #A72E5B;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  height: 150px;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.collapsible2 {
  background-color: #F18526;
}

.collapsible3 {
  background-color: #9ACA42;

}

.collapsible4 {
  background-color: #EDC80F;

}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #E1F3FF;
  position: absolute;
  top: 140px;
  left: -80px;
  right: -80px;
}

.grid {
  background-color: #E1F3FF;
}


.grid section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  width: 70%;
  margin: auto;
}


.menu-stuff {
  position: relative;
}

.table {
  background-color: #E1F3FF;
  table-layout: auto;
  margin: auto;
  max-width: 1000px;

}

th {
  margin-bottom: 0;
  padding: 20px;
}

.feature {
  width: 100%;
}

img {
  width: 300px;
}

.locationtable tr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width:1050px) {
  .grid section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    width: 100%;
  }

    .table {
      table-layout: repeat(1, 1fr);
    }
    .locationtable tr {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 320px 800px;
    }
    .c1-img {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    .c1-loc {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    .c2-img {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
    .c2-loc {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
    }
    .c3-img {
      grid-column: 1 / 2;
      grid-row: 5 / 6;
    }
    .c3-loc {
      grid-column: 1 / 2;
      grid-row: 6 / 7;
    }
}
